.wrap{
  height:75vh;
  background-color:white;
  border-radius:10px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(181,181,181,1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(181,181,181,1);
  box-shadow: 10px 10px 5px 0px rgba(181,181,181,1);
}
.image-wrap{
  svg{
    height:400px;
    max-width:100%;
  }
}
.text-create-an-account{
  font-family: 'Nunito', sans-serif;
  color:#000066;
  font-size:15px;
  text-decoration:underline;
  text-align:center;
}
.text-log-in{
  font-family: 'Arbutus Slab', serif;
  color:#000066;
  font-size:40px;
  padding-top:20px;
  text-align:center;

}
.item-wrap{
  width:100%;
  height:50px;
  display:flex;
  border-bottom: 1px solid  #a3a375;
}
.icon-wrap{
  width:50px;
  height:100%;
  font-size:20px;
  padding-top:8px;
  text-align:center;
}
.text-input{
  width:100%;
  border:none;
  font-size:20px;
}
.text-input:focus{
  outline:none;
}
.log-in-options{
  width:100%;
  height:35px;
}
.social-wrap{
    width:35px;
    height:35px;
    background-color:green;
    border-radius:3px;
    display:inline-block;
    margin-right:10px;
    color:white;
    font-size:17px;
    text-align:center;
    padding-top:7px;
    .social-wrap:hover{
      cursor:pointer;
    }
}
:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
